<a href="#">
<div class="container__big-card">

  <div class="big-card__photo">
    <img src="https://i.ytimg.com/vi/ciRukRdmOv4/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLAOcldPkcjQrkAE3oERgESvUUtyNw"
        alt=""
        height="250px"
        >
  </div>

  <div class="big-card__title">
    <h1>Saiu a nova versão do angular! Confira:</h1>
  </div>

  <div class="big-card__description">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil reiciendis cupiditate officia corporis repellendus laborum, nobis minima, quas quod unde, aspernatur totam error odio. Incidunt consequatur placeat laudantium at sequi!</p>
  </div>
</div>
</a>
